Repository sornas/lingon, pull requests merged in 2021-04, with the labels that each got.

#16 macro for particle system init
  src/main.rs
  src/random.rs
  src/renderer.rs
  src/renderer/particles.rs
  src/renderer/prelude.rs
Labels: S-rendering

#25 Fancy readme
  README.md
  lingon.svg
Labels: documentation

#27 Audio system and asset rework
  Cargo.lock
  Cargo.toml
  res/bloop.wav
  src/asset.rs
  src/asset/audio.rs
  src/asset/image.rs
  src/asset/mod.rs
  src/audio.rs
  src/lib.rs
  src/main.rs
Labels: S-asset, S-audio

#39 Add gain and builders to AudioSource
  src/audio.rs
  src/main.rs
Labels: S-audio

#40 Audio gain variance
  src/audio.rs
  src/main.rs
  src/random.rs
Labels: S-audio

#42 Audio pitch
  src/audio.rs
  src/main.rs
Labels: S-audio

#43 Master gain
  src/audio.rs
  src/main.rs
Labels: S-audio
